{% extends "base.html" %}
{% block content %}
<h1>Kirjaudu sisään</h1>
<div class="show">
    <form method="post" action="{{base_path}}/login">
        <form>
        <div class="input-group col-xs-4" style="padding-bottom: 6px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="tunnus" type="text" class="form-control" name="tunnus" placeholder="käyttäjätunnus">
        </div>
        <form>
        <div class="input-group col-xs-4" style="padding-bottom: 10px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="salasana" type="password" class="form-control" name="salasana" placeholder="salasana">
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
</div>
{% endblock %}